<a href="https://colab.research.google.com/github/khannana/khannana/blob/main/Copy_of_Airbnb_Bookings_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more. </b>

## <b>This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values. </b>

## <b> Explore and analyze the data to discover key understandings (not limited to these) such as : 
* What can we learn about different hosts and areas?
* What can we learn from predictions? (ex: locations, prices, reviews, etc)
* Which hosts are the busiest and why?
* Is there any noticeable difference of traffic among different areas and what could be the reason for it? </b>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [1]:
from google.colab import drive
drive.mount('/content/drive/', force_remount = True)

Mounted at /content/drive/

In [3]:
path = '/content/drive/MyDrive/data_eda/'
airbnb_df = pd.read_csv(path + 'Copy of Airbnb NYC 2019.csv')

In [5]:
airbnb_df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

# Data Profiling and Cleansing

In [8]:
# Summary of the data 
airbnb_df.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [9]:
airbnb_df.describe(include = 'all')

                  id  ... availability_365
count   4.889500e+04  ...     48895.000000
unique           NaN  ...              NaN
top              NaN  ...              NaN
freq             NaN  ...              NaN
mean    1.901714e+07  ...       112.781327
std     1.098311e+07  ...       131.622289
min     2.539000e+03  ...         0.000000
25%     9.471945e+06  ...         0.000000
50%     1.967728e+07  ...        45.000000
75%     2.915218e+07  ...       227.000000
max     3.648724e+07  ...       365.000000

[11 rows x 16 columns]

In [12]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [21]:
airbnb_df.shape

(48895, 16)

In [20]:
airbnb_df[airbnb_df.columns[0]].count()

48895

In [49]:
print(f"Number of rows : " ,airbnb_df[airbnb_df.columns[0]].count())

print(f"Number of Series : " ,len(airbnb_df.columns.to_list()))
print("     ")
print("      ")
print(f"Features : ",airbnb_df.columns.values)
print("     ")
print("      ")
print(f"Number of missing values : ", sum(list(airbnb_df.isna().sum())))
print("     ")
print("      ")
print(f" Columns list with count of missing values")
print(airbnb_df.isna().sum() )

Number of rows :  48895
Number of Series :  16


Features :  ['id' 'name' 'host_id' 'host_name' 'neighbourhood_group' 'neighbourhood'
 'latitude' 'longitude' 'room_type' 'price' 'minimum_nights'
 'number_of_reviews' 'last_review' 'reviews_per_month'
 'calculated_host_listings_count' 'availability_365']


Number of missing values :  20141


 Columns list with count of missing values
id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64