<a href="https://colab.research.google.com/github/khannana/khannana/blob/main/list_comprehensions_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
my_string = "I am very vulnerable"

k = [print(i) for i in my_string if i not in "aeiou"]

I

m

v
r
y

v
l
n
r
b
l
[None, None, None, None, None, None, None, None, None, None, None, None, None, None]

In [5]:
my_string = "Hello world"

k = [(i.upper(), len(i)) for i in my_string]
print(k)

[('H', 1), ('E', 1), ('L', 1), ('L', 1), ('O', 1), (' ', 1), ('W', 1), ('O', 1), ('R', 1), ('L', 1), ('D', 1)]

In [6]:
print([i.lower() for i in "HELLO"])

['h', 'e', 'l', 'l', 'o']

In [7]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [8]:
print([[i+j for i in "abc"] for j in "def"])

[['ad', 'bd', 'cd'], ['ae', 'be', 'ce'], ['af', 'bf', 'cf']]

In [10]:
print([if i%2==0: i; else i+1; for i in range(4)])

SyntaxError: ignored

In [21]:
[j for i in range(2,8) for j in range(i*2, 50, i)]

[4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 14,
 21,
 28,
 35,
 42,
 49]

In [12]:
l=[[1 ,2, 3], [4, 5, 6], [7, 8, 9]]
[[row[i] for row in l] for i in range(3)]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [13]:
l=[[1, 2, 3], [4, 5, 6]]
for i in range(len(l)):
    for j in range(len(l[i])):
        l[i][j]+=10
l

[[11, 12, 13], [14, 15, 16]]